node_modules
npm-debug.log
dist
.angular
.git
.gitignore
.editorconfig
README.md
.vscode
coverage
e2e
*.md
.env
.husky
.eslintrc.json
.prettierrc
.prettierignore
.lintstagedrc.json
karma.conf.js
tsconfig.spec.json
