@use 'sass:color';
@use '../../../styles/variables';
@use '../../../styles/mixins';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: variables.$z-index-sticky;
  height: variables.$header-height;
  box-shadow: variables.$shadow-md;
}

.header-content {
  @include mixins.flex-between;
  width: 100%;
  height: 100%;
}

.header-left {
  @include mixins.flex-center;
  gap: variables.$spacing-md;
}

.menu-button {
  @include mixins.respond-to-min(variables.$breakpoint-lg) {
    display: none;
  }
}

.logo {
  @include mixins.flex-center;
  gap: variables.$spacing-sm;
  text-decoration: none;
  color: inherit;
  font-weight: variables.$font-weight-medium;
  transition: opacity variables.$transition-duration-fast;

  &:hover {
    opacity: 0.8;
  }

  .logo-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
  }

  .logo-text {
    font-size: variables.$font-size-lg;

    @include mixins.respond-to-max(variables.$breakpoint-sm) {
      display: none;
    }
  }
}

.header-right {
  @include mixins.flex-center;
  gap: variables.$spacing-xs;
}

.action-button {
  color: inherit;
}

.user-button {
  margin-left: variables.$spacing-sm;
  padding: 0 variables.$spacing-sm;
  height: 48px;
  border-radius: variables.$border-radius-md;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.user-info {
  @include mixins.flex-center;
  gap: variables.$spacing-sm;
}

.user-avatar {
  @include mixins.flex-center;
  width: 32px;
  height: 32px;
  border-radius: variables.$border-radius-round;
  background-color: rgba(255, 255, 255, 0.1);

  mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
  }
}

.user-name {
  max-width: 150px;
  @include mixins.text-truncate;

  @include mixins.respond-to-max(variables.$breakpoint-sm) {
    display: none;
  }
}

.dropdown-icon {
  font-size: 24px;
}

::ng-deep .user-menu {
  margin-top: variables.$spacing-sm;
  min-width: 200px;

  .mat-mdc-menu-item {
    @include mixins.flex-center;
    justify-content: flex-start;
    gap: variables.$spacing-md;
  }
}
