@use 'sass:color';
@use '../../../styles/variables';
@use '../../../styles/mixins';

.sidebar {
  position: fixed;
  top: variables.$header-height;
  left: - variables.$sidebar-width;
  bottom: 0;
  width: variables.$sidebar-width;
  background-color: variables.$sidebar-background;
  color: white;
  box-shadow: variables.$shadow-lg;
  transition: left variables.$transition-duration-base variables.$transition-timing;
  z-index: variables.$z-index-fixed;
  display: flex;
  flex-direction: column;

  @include mixins.custom-scrollbar(8px, rgba(255, 255, 255, 0.3));

  &.open {
    left: 0;
  }

  @include mixins.respond-to-max(variables.$breakpoint-md) {
    &.open {
      left: 0;
    }
  }
}

.sidebar-nav {
  flex: 1;
  overflow-y: auto;
  padding: variables.$spacing-md 0;

  ::ng-deep {
    .mat-mdc-list {
      padding: 0;
    }

    .mat-mdc-list-item {
      color: rgba(255, 255, 255, 0.7);
      height: 56px;
      padding: 0 variables.$spacing-lg;
      margin: 0;
      border-left: 3px solid transparent;
      transition: all variables.$transition-duration-fast;

      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
        color: white;
      }

      &.active {
        background-color: rgba(255, 255, 255, 0.1);
        border-left-color: variables.$accent-color;
        color: white;

        .nav-icon {
          color: variables.$accent-color;
        }
      }
    }

    .mat-mdc-list-item-icon {
      color: inherit;
      margin-right: variables.$spacing-md;
    }
  }
}

.nav-item {
  @include mixins.flex-center;
  justify-content: flex-start;
  text-decoration: none;
  cursor: pointer;
}

.nav-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.nav-label {
  font-size: variables.$font-size-base;
  font-weight: variables.$font-weight-medium;
}

.sidebar-footer {
  padding: variables.$spacing-md variables.$spacing-lg;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.app-version {
  @include mixins.flex-center;
  gap: variables.$spacing-sm;
  color: rgba(255, 255, 255, 0.5);
  font-size: variables.$font-size-sm;

  mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
  }
}
